h1 {
    font-size: 30px;
    font-weight: 700;
}

h2 {
    font-size: 25px;
    font-weight: 500;
}

h3 {
    font-size: 20px;
    font-weight: 500;
}

h4 {
    font-size: 18px;
    font-weight: 500;
}

h5 {
    font-size: 15px;
    font-weight: 300;
}

h6 {
    font-size: 13px;
    font-weight: 300;
}